@use '../1-foundations/colors' as *;
@use '../1-foundations/fonts' as *;
@use '../1-foundations/spacing' as *;

.btn-src{
    width: 100%;
}

.button-primary{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--s-03) var(--s-04);
    background-color: var(--c-orange-500);
    border-radius: var(--s-10);
    border: hidden;
    @include body-xl(var(--c-neutral-100));

    &:hover{
        background-color: var(--c-orange-600);
    }

    &:active{
        background-color: var(--c-orange-300);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    }
}