@use '../1-foundations/colors' as *;
@use '../1-foundations/fonts' as *;
@use '../1-foundations/spacing' as *;
@use '../1-foundations/shadows' as *;

.btn-src{
    width: 100%;
}

.button-primary{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: var(--s-03) var(--s-04);
    background-color: var(--c-orange-500);
    border-radius: var(--s-10);
    border: hidden;
    @include body-xl(var(--c-neutral-100));
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &:hover{
        background-color: var(--c-orange-600);
    }

    &:active{
        background-color: var(--c-orange-300);
        @include shadow-cta;
    }
}